<html>
    <head>
        <title>Dogs are great</title>
    </head>
    <body>
        <div>
            <h1><a href="/">I really like dogs</a></h1>
        </div>

        <div>
            <p>woof woof</p>
            <h2><a href="">My first post</a></h2>
            <p>Brecht and I might get a dog!</p>
        </div>

        <div>
            <p>But which one?</p>
            <h2><a href="">My second post</a></h2>
            <p>Making up your mind is a difficult thing to do.</p>
        </div>
    </body>